In [9]:
sc

In [37]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

ImportError: cannot import name 'DateType' from 'pyspark.sql' (/opt/spark/python/pyspark/sql/__init__.py)

In [11]:
spark = SparkSession.builder.appName('ikhlebushkin_spark_df_task2').master('yarn').getOrCreate()

In [12]:
business = spark.read.json('/data/yelp/business')
checkins = spark.read.json('/data/yelp/checkin')

In [32]:
categories = business.select(
    'business_id',
    f.explode(
        f.split(business.categories, ', ')
    ).alias('category')
)

In [66]:
months = checkins.select('business_id',
                         f.explode(f.split(checkins.date, ', ')).alias('checkin_date'))
months = (months
          .withColumn('mnth', f.date_format(months.checkin_date.cast('date'), 'yyyy-MM'))
          .drop('checkin_date'))

In [90]:
counted = months.groupby('business_id', 'mnth').count()

In [103]:
joined_df = (categories
             .join(counted, 'business_id', 'inner')
             .drop('business_id')
             .groupBy('category', 'mnth')
             .agg(f.sum('count').alias('checkins'))
             .orderBy('mnth', 'category')
             .select('mnth', 'category', 'checkins'))

In [104]:
joined_df.head(50)

[Row(mnth='2009-12', category='American (Traditional)', checkins=1),
 Row(mnth='2009-12', category='Breakfast & Brunch', checkins=1),
 Row(mnth='2009-12', category='Diners', checkins=1),
 Row(mnth='2009-12', category='Indian', checkins=1),
 Row(mnth='2009-12', category='Restaurants', checkins=2),
 Row(mnth='2010-01', category='Accessories', checkins=6),
 Row(mnth='2010-01', category='Active Life', checkins=44),
 Row(mnth='2010-01', category='Adult Education', checkins=2),
 Row(mnth='2010-01', category='Adult Entertainment', checkins=2),
 Row(mnth='2010-01', category='Airlines', checkins=4),
 Row(mnth='2010-01', category='Airports', checkins=27),
 Row(mnth='2010-01', category='Allergists', checkins=1),
 Row(mnth='2010-01', category='Amateur Sports Teams', checkins=3),
 Row(mnth='2010-01', category='American (New)', checkins=245),
 Row(mnth='2010-01', category='American (Traditional)', checkins=232),
 Row(mnth='2010-01', category='Amusement Parks', checkins=7),
 Row(mnth='2010-01', category='Apartments', checkins=2),
 Row(mnth='2010-01', category='Appliances', checkins=13),
 Row(mnth='2010-01', category='Appliances & Repair', checkins=3),
 Row(mnth='2010-01', category='Arcades', checkins=6),
 Row(mnth='2010-01', category='Architects', checkins=1),
 Row(mnth='2010-01', category='Argentine', checkins=1),
 Row(mnth='2010-01', category='Art Classes', checkins=2),
 Row(mnth='2010-01', category='Art Galleries', checkins=14),
 Row(mnth='2010-01', category='Art Museums', checkins=3),
 Row(mnth='2010-01', category='Art Schools', checkins=7),
 Row(mnth='2010-01', category='Art Supplies', checkins=4),
 Row(mnth='2010-01', category='Arts & Crafts', checkins=8),
 Row(mnth='2010-01', category='Arts & Entertainment', checkins=126),
 Row(mnth='2010-01', category='Asian Fusion', checkins=32),
 Row(mnth='2010-01', category='Auto Detailing', checkins=1),
 Row(mnth='2010-01', category='Auto Parts & Supplies', checkins=5),
 Row(mnth='2010-01', category='Auto Repair', checkins=6),
 Row(mnth='2010-01', category='Automotive', checkins=23),
 Row(mnth='2010-01', category='Bagels', checkins=25),
 Row(mnth='2010-01', category='Bakeries', checkins=59),
 Row(mnth='2010-01', category='Banks & Credit Unions', checkins=2),
 Row(mnth='2010-01', category='Barbeque', checkins=35),
 Row(mnth='2010-01', category='Barbers', checkins=6),
 Row(mnth='2010-01', category='Bars', checkins=418),
 Row(mnth='2010-01', category='Bartenders', checkins=2),
 Row(mnth='2010-01', category='Basque', checkins=4),
 Row(mnth='2010-01', category='Beaches', checkins=1),
 Row(mnth='2010-01', category='Beauty & Spas', checkins=27),
 Row(mnth='2010-01', category='Bed & Breakfast', checkins=2),
 Row(mnth='2010-01', category='Beer', checkins=93),
 Row(mnth='2010-01', category='Beer Bar', checkins=9),
 Row(mnth='2010-01', category='Beer Gardens', checkins=2),
 Row(mnth='2010-01', category='Beer Tours', checkins=1),
 Row(mnth='2010-01', category='Belgian', checkins=8)]

In [ ]:
negative_tops.write.mode('overwrite').csv('spark_df_task1', sep='\t')

In [ ]:
spark.stop()